<div class="w-36 h-52 z-20 rounded-full mx-2.5 relative text-white border-2 border-black card-on-board min-w-36 hover:ring-offset-2 hover:ring-offset-lime-300 has-tooltip" 
  draggable="false"
  data-drag-battle-target="activeFriendlyActor"
  data-drag-party-play-target="friendlyCardInBattle"
  data-style-cards-target="boardMinion"
  data-id="<%=card.id%>"
  data-status="<%=card.status%>"
  data-health-current="<%=card.health_current%>"
  data-health-cap="<%=card.health_cap%>"
  data-tribe=<%=card.party_card_parent.tribe%>
  data-action="dragstart->drag-battle#dragStart dragend->drag-battle#dragEnd">
  <div class="border-2 border-red-600 bg-red-500 rounded-full h-12 w-12 text-4xl text-center mt-1 pb-1 text-white absolute bottom-0 -left-2 z-10 select-none pointer-events-none">
    <%=card.attack_current%>
  </div>
  <div class="health-current border-2 border-lime-600 bg-lime-500 rounded-full h-12 w-12 text-4xl text-center mt-1 pb-1 absolute bottom-0 -right-2 z-10 select-none pointer-events-none">
    <%=card.health_current%>
  </div>
  <div class="overflow-hidden w-full h-full rounded-full select-none pointer-events-none">
    <%=image_tag('cardplaceholder.webp', class:"object-contain w-40 h-auto select-none pointer-events-none", draggable:"false")%>
  </div>
  <div class="tooltip top-0 -left-44 z-50 shadow-2xl shadow-cyan-200">
    <%= render 'party_card_parents/card_tooltip', card: card.party_card_parent, cached: true %>
  </div>
</div>
<%= render "party_card_gamestates/board_space", position: card.position %>
