<div class="hidden" 
data-animations-target="animationValueHolder"
<%# Battle Translation Animation Values %>
data-attacker-value='<%= JSON(attacker)%>'
data-defender-value='<%= JSON(defender)%>'
<%# Card From Hand Animation Values %>
data-player-identifier='<%=hand%>'
data-played-card-id='<%=played_card_id%>'
data-target-id='<%=target_id%>'
  >
</div>
