<div id="animated-card" class="w-40 h-60 text-white border-2 border-black rounded absolute left-[15%] bottom-1/2 z-50" data-animations-target="lastPlayed" data-animation-of=<%=card.id%> >
  <div class="border-2 border-amber-600 bg-amber-500 rounded-full h-10 w-10 text-3xl text-center text-white absolute -top-2 -left-2 z-10">
    <%=card.cost_current%>
  </div>
  <div class="text-center text-xl absolute bottom-12 inset-x-0 inset-x-0 border-2 rounded border-slate-900 bg-slate-700">
    <%=card.parent.name%>
  </div>
  <div class="border-2 border-red-600 bg-red-500 rounded-full h-10 w-10 text-3xl text-center mt-1 pb-1 text-white absolute -bottom-2 -left-2 z-10">
    <%=card.attack_current%>
  </div>
  <div class="border-2 border-lime-600 bg-lime-500 rounded-full h-10 w-10 text-3xl text-center mt-1 pb-1 text-white absolute -bottom-2 -right-2 z-10">
    <%=card.health_current%>
  </div>
  <div class="text-center text-xs absolute bottom-8 inset-x-0 border-2 rounded border-slate-900 bg-slate-700">
    <%=card.archetype.name%>
  </div>
  <div class="text-center text-md absolute bottom-2 inset-x-0 border-2 rounded border-slate-900 bg-slate-700">
    <%=card.parent.tribe%>
  </div>
  <div class="overflow-hidden w-full h-full select-none pointer-events-none">
    <%=image_tag('cardplaceholder.webp', class:"object-contain w-40 h-auto select-none pointer-events-none", draggable:"false")%>
  </div>
</div>
