<div id="animation-data" class="hidden">
  <div class="hidden" id="animationsHidden"></div>
</div>
<aside id="sidebar" class="fixed right-0 z-50 w-1/12 h-full">
  <section id="op-deck" class="absolute flex flex-row gap-x-3 top-5">
    <div class="relative w-40 text-center text-white border-2 border-black rounded h-60 bg-slate-700">
      In Deck:<%=opposing_player.gamestate_deck.card_count%>
    </div>
  </section>
  <section id="turn-button" class="absolute top-1/2 bottom 1/2">
    <%=game.turn ? "Player 1" : "Player 2" %>'s Turn!<br>
    <% if game.status == "ongoing" %>
      <%=button_to "End Turn",end_turn_game_path(game), disabled: !turn_of?(first_person_player, game), class:"bg-blue-500 text-white font-bold py-2 px-4 rounded disabled:bg-gray-200" %>
    <% end %>
  </section>
  <section id="fp-deck" class="absolute flex flex-row flex-col gap-x-3 flex-nowrap bottom-5">
    <div class="relative w-40 text-center text-white border-2 border-black rounded h-60 bg-slate-700">
      In Deck:<%=first_person_player.gamestate_deck.card_count%>
    </div>
    <div class="min-w-max">Gold: <%=first_person_player.cost_current%> / <%=first_person_player.cost_cap%></div>
  </section>
</aside>
<article id="main-game-board"
class="flex flex-col h-full flex-nowrap gap-y-6 overflow-clip xl:gap-y-2"
data-controller="gameplay-drag line-drawer style-cards gameboard-animations"
data-game='<%=game.id%>'
data-updated='<%=game.updated_at%>'
data-gameplay-drag-player-cost-value='<%=first_person_player.cost_current%>'
data-gameplay-drag-player-resource-value='<%=first_person_player.cost_current%>'
data-gameplay-drag-current-turn-value='<%=game.turn%>'
data-gameplay-drag-player-turn-value='<%=first_person_player.turn_order%>'
data-gameboard-animations-status-value='<%=game.status%>'
data-gameboard-animations-turn-value='<%=game.turn_time%>'>
  <canvas id="drawContainer" data-line-drawer-target="canvas" width="0" height="0" class='fixed z-50 pointer-events-none select-none'></canvas>
  <section id="op-info" class="relative w-full h-1/3">
    <section id="op-cards-hand" class="absolute flex-1 w-full ml-auto text-center has-tooltip shrink flex-nowrap whitespace-nowrap -top-16" data-animations-target="hand">
      <div class="left-0 right-0 text-center tooltip -bottom-10" >Your opponent has <%=opposing_player.cards.in_hand.size%> cards in hand.</div>
      <% opposing_player.cards.in_hand.each do |c|%>
        <div class="relative inline-block w-40 -mt-12 -ml-10 text-white border-2 border-black rounded h-60 max-h-60 bg-slate-700" data-id="<%=c.id%>"></div>
      <% end %>
    </section>
    <div id="op-player-info"
         class="absolute bottom-0 left-0 right-0 w-40 h-48 mx-auto bg-red-200 rounded-t-full enemy-card"
         data-id=<%=opposing_player.id%>
         data-player-id=<%=opposing_player.id%>
         data-status="<%=opposing_player.status%>"
         data-animations-target="player"
         data-gameplay-drag-target= "recievesPlayerInput enemyActor"
         data-type = "player"
         data-action="drop->gameplay-drag#drop dragenter->gameplay-drag#dragEnter dragover->gameplay-drag#dragOver dragend->gameplay-drag#dragEnd"
      >
      <div id="attack" class="border-2 border-red-600 bg-red-500 rounded-full h-12 w-12 text-4xl text-center mt-1 pb-1 text-white absolute -bottom-2 -left-2 z-10 select-none pointer-events-none <%= (opposing_player.attack > 0) ? '' : "hidden" %>">
        <%=opposing_player.attack%>
      </div>
      <div class="absolute z-10 w-12 h-12 pb-1 mt-1 text-4xl text-center text-white border-2 rounded-full pointer-events-none select-none health-current border-lime-600 bg-lime-500 -bottom-2 -right-2">
        <%=opposing_player.health%>
      </div>
    </div>
  </section>
  <section id="battlefield" class="grid w-full grid-cols-1 grid-rows-2 h-1/3" data-animations-target="battlefield">
    <%=render(last_played_card,
         locals: { class: 'absolute left-[15%] bottom-1/2 z-50',
                   id: "animated-card",
                   decorator_data_method: :data_for_last_played},
         cached: true ) if last_played_card  %>
    <%= render 'games/mulligan', first_person_player: first_person_player, game: game if game.status == "mulligan"%>
    <div id="op-cards-battle" class="flex flex-row items-center justify-center w-full">
      <div class="hidden" data-id="0"></div>
      <%=render partial: 'party_card_gamestates/in_battle',
         collection: opposing_player.party_cards.in_battle.includes(card_constant: %i[keywords archetype]).order(:position),
         as: :card,
         locals: { class: 'enemy-card z-30 hover:ring-4 hover:ring-red-300',
                   decorator_data_method: :data_opposing_card_board_battle,
                   draggable: false},
         cached: true %>
    </div>
    <div id="fp-cards-battle" class="flex flex-row items-center justify-center w-full">
      <div class="rounded-full opacity-50 board-space"
        data-id="0"
        data-gameplay-drag-target="recievesPlayToBoard"
        data-gameplay-drag-board-target-param="0"
        data-action="drop->gameplay-drag#boardspaceDrop dragenter->gameplay-drag#boardspaceDragEnter dragover->gameplay-drag#dragOver"
        >
      </div>
      <%=render partial: 'party_card_gamestates/in_battle',
         collection: first_person_player.party_cards.in_battle.includes(card_constant: %i[keywords archetype]).order(:position),
         as: :card,
         locals: { class: 'hover:ring-offset-2 hover:ring-offset-lime-300 board-animatable z-40 ring ring-lime-500 ',
                   decorator_data_method: :data_friendly_card_board_battle,
                   first_person_pov: true,
                   draggable: true },
         cached: true %>
    </div>
  </section>
  <section id="fp-info" class="relative w-full mt-auto h-1/3">
    <div id="fp-player-info"
         class="absolute top-0 left-0 right-0 w-40 h-48 mx-auto bg-blue-200 rounded-t-full"
         data-player-id=<%=first_person_player.id%>
         data-animations-target="player"
         data-status="<%=first_person_player.status%>"
    >
      <div id="attack" class="absolute w-12 h-12 pb-1 mt-1 text-4xl text-center text-white bg-red-500 border-2 border-red-600 rounded-full pointer-events-none select-none -bottom-2 -left-2 <%= (first_person_player.attack > 0) ? '' : "hidden" %>">
        <%=first_person_player.attack%>
      </div>
      <div class="absolute w-12 h-12 pb-1 mt-1 text-4xl text-center text-white border-2 rounded-full pointer-events-none select-none health-current border-lime-600 bg-lime-500 -bottom-2 -right-2">
        <%=first_person_player.health%>
      </div>
    </div>
    <div id="fp-cards-hand" class="absolute w-full ml-auto text-center whitespace-nowrap -bottom-32 hover:bottom-0" data-animations-target="hand">
      <%=render first_person_player.cards.includes(card_constant: [:archetype,:battlecry, :keywords]).in_hand.order(updated_at: :asc),
         locals: { game: game,
                   first_person_player: first_person_player,
                   class: 'relative ring ring-lime-500 playing-card inline-block -ml-10 hover:z-10 hover:bottom-8 hover:scale-125',
                   draggable: true,
                   decorator_data_method: :data_for_hand },
         cached: true %>
    </div>
  </section>
</article>
