<article class="flex flex-col justify-between w-full h-full">
  <%=game.status%>
  Current turn = <%=game.turn ? "Player 1" : "Player 2" %> <br>
  <section>Opponent Hand Stuff</section>
  <section>Game Board</section>
  <section>
    Your Hand Stuff
    <section id="Cards In Hand">
      In hand:<%=first_person_player.cards.where(location: "hand").size%>
    </section>
    <section id="Cards In Deck">
      In Deck:<%=first_person_player.gamestate_deck.card_count%>
    </section>
  </section>
</article>
<% if game.status == "mulligan" %>
  MULLIGAN: 
  <%=first_person_player.mulligan_cards.size%> <br>
  <%first_person_player.mulligan_cards.each do |card|%>
    <%=card.id%>: <%=card.party_card_parent.name%> <br>
  <% end %>
  <%= button_to "Keep cards", submit_mulligan_game_path(game) %>
  <%= button_to "Redo cards", submit_mulligan_game_path(game, mulligan: true) %>
<% end %>
