<div id="animation-data" class="hidden"></div>
<aside id="sidebar w-max h-full relative top-0">
  <section id="op-deck" class="flex flex-row gap-x-3 absolute top-5">
    <div class="w-40 h-60 relative text-white border-2 border-black rounded bg-slate-700 text-center">
      In Deck:<%=opposing_player.gamestate_deck.card_count%>
    </div>
  </section>
  <section id="turn-button" class="absolute top-1/2 bottom 1/2">
    <%=game.turn ? "Player 1" : "Player 2" %>'s Turn!<br>
    <% if game.status == "ongoing" %>
      <%=button_to "End Turn",end_turn_game_path(game), disabled: !turn_of?(first_person_player, game), class:"bg-blue-500 text-white font-bold py-2 px-4 rounded disabled:bg-gray-200" %>
    <% end %>
  </section>
  <section id="fp-deck" class="flex flex-row gap-x-3 flex flex-col flex-nowrap absolute bottom-5">
    <div class="w-40 h-60 relative text-white border-2 border-black rounded bg-slate-700 text-center">
      In Deck:<%=first_person_player.gamestate_deck.card_count%>
    </div>
    <div class="min-w-max">Gold: <%=first_person_player.cost_current%> / <%=first_person_player.cost_cap%></div>
  </section>
</aside>
<article id="main-game-board"
class="h-full flex flex-col flex-nowrap gap-y-6 overflow-clip xl:gap-y-2"

data-controller="drag-party-play style-cards drag-battle battlecry-select"
data-game='<%=game.id%>'
data-drag-party-play-player-cost-value='<%=first_person_player.cost_current%>'
data-drag-party-play-game-turn-value='<%=game.turn%>'
data-drag-party-play-player-turn-value='<%=first_person_player.turn_order%>'
data-action="drag-party-play:loadBattlecryController->battlecry-select#loadController">
  <section id="op-info" class=" w-full h-1/3 relative">
    <section id="op-cards-hand" class="w-full ml-auto text-center has-tooltip shrink flex-nowrap whitespace-nowrap flex-1 absolute -top-16" data-animations-target="hand">
      <div class="tooltip left-0 right-0 -bottom-10 text-center" >Your opponent has <%=opposing_player.cards.in_hand.size%> cards in hand.</div>
      <% opposing_player.cards.in_hand.each do |c|%>
        <div class="w-40 h-60 max-h-60 relative text-white border-2 border-black rounded bg-slate-700 inline-block -ml-10 -mt-12" data-id="<%=c.id%>"></div>
      <% end %>
    </section>
    <div id="op-player-info"
         class="w-40 h-48 bg-red-200 absolute left-0 right-0 mx-auto bottom-0 rounded-t-full enemy-card"
         data-drag-battle-target="enemyActor"
         data-battlecry-select-target="opposingPlayer"
         data-player-id=<%=opposing_player.id%>
         data-status="<%=opposing_player.status%>"
         data-animations-target="player"
         data-action="drop->drag-battle#drop dragenter->drag-battle#dragEnter dragover->drag-battle#dragOver dragleave->drag-battle#dragLeave dragend->drag-battle#dragEnd"
      >
      <% if opposing_player.attack_current > 0%>
        <div class="border-2 border-red-600 bg-red-500 rounded-full h-12 w-12 text-4xl text-center mt-1 pb-1 text-white absolute -bottom-2 -left-2 z-10 select-none pointer-events-none">
          <%=opposing_player.attack_current%>
        </div>
      <% end %>
      <div class="health-current border-2 border-lime-600 bg-lime-500 rounded-full h-12 w-12 text-4xl text-white text-center mt-1 pb-1 absolute -bottom-2 -right-2 z-10 select-none pointer-events-none">
        <%=opposing_player.health_current%>
      </div>
    </div>
  </section>
  <section id="battlefield" class="w-full grid grid-cols-1 grid-rows-2 h-1/3" data-animations-target="battlefield">
    <%= render 'games/card_animation_window', card: last_played_card if last_played_card %>
    <%= render 'games/mulligan', first_person_player: first_person_player, game: game if game.status == "mulligan"%>
    <div id="op-cards-battle" class="flex flex-row w-full justify-center items-center">
      <div class="hidden" data-id="0"></div>
      <%= render partial: "party_card_gamestates/enemy_card_on_board", collection:opposing_player.cards.in_battle.includes(party_card_parent: :archetype).order(:position), as: :card %>
    </div>
    <div id="fp-cards-battle" class="flex flex-row w-full justify-center items-center">
      <%= render "party_card_gamestates/board_space", position: 0 %>
      <%= render partial: "party_card_gamestates/card_on_board", collection:first_person_player.cards.in_battle.includes(party_card_parent: :archetype).order(:position), as: :card %>
    </div>
  </section>
  <section id="fp-info" class="w-full mt-auto h-1/3 relative">
    <div id="fp-player-info"
         class="w-40 h-48 bg-blue-200 absolute left-0 right-0 mx-auto top-0 rounded-t-full"
         data-player-id=<%=first_person_player.id%>
         data-battlecry-select-target="friendlyPlayer"
         data-drag-battle-target="activeFriendlyActor"
         data-animations-target="player"
         data-status="<%=first_person_player.status%>"
    >
      <% if first_person_player.attack_current > 0 %>
        <div class="border-2 border-red-600 bg-red-500 rounded-full h-12 w-12 text-4xl text-center mt-1 pb-1 text-white absolute -bottom-2 -left-2 select-none pointer-events-none">
          <%=first_person_player.attack_current%>
        </div>
      <% end %>
      <div class="health-current border-2 border-lime-600 bg-lime-500 rounded-full h-12 w-12 text-4xl text-white text-center mt-1 pb-1 absolute -bottom-2 -right-2 select-none pointer-events-none">
        <%=first_person_player.health_current%>
      </div>
    </div>
    <div id="fp-cards-hand" class="w-full ml-auto text-center whitespace-nowrap absolute -bottom-32 hover:bottom-0" data-animations-target="hand">
      <%= render partial: "party_card_gamestates/card_in_hand", collection:first_person_player.cards.includes(:archetype, party_card_parent: :battlecry).in_hand.order(updated_at: :desc), as: :card, locals:{game: game, first_person_player: first_person_player}, cached: true %>
    </div>
  </section>
</article>
