<article>
  <%= turbo_stream_from @account_deck %>
  <%= turbo_frame_tag id="#{dom_id(@account_deck)}" do%>
    <%= render @account_deck %>
  <% end %>
</article>
<section>
  <nav id="card-book-naviation">
    <%= link_to party_card_parents_path(name:"Neutral", account_deck_id: @account_deck.id), 'data-turbo-frame': "party_cards_collection" do %>
      LINK NEUTRAL
    <% end %>
    <%= link_to party_card_parents_path(name:@account_deck.archetype.name, account_deck_id: @account_deck.id), 'data-turbo-frame': "party_cards_collection" do %>
      LINK ARCHETYPE
    <% end %>
  </nav>
  <div>
    <%=turbo_frame_tag id="party_cards_collection", src:party_card_parents_path(name:"Neutral", account_deck_id: @account_deck.id) do %>
    <% end %>
  </div>
</section>
