<article>
  <h1 class="font-bold text-4xl"><%=@account_deck.name%></h1>
  <p><%=@account_deck.race.name%></p>
  <p><%=@account_deck.archetype.name%></p>
  <%=@account_deck.card_count%>/30 Cards <br>
  <%@account_deck.party_card_parents.each do |card|%>
    <%=card.name%>: COST: <%=card.cost_default%>, ATK <%=card.attack_default%> HEALTH: <%=card.health_default%> TRIBE: <%=card.tribe%> <br>
  <% end %>
</article>
<section>
  <nav id="card-book-naviation">
    <%= link_to party_card_parents_path(name:"Neutral"), 'data-turbo-frame': "party_cards_collection" do %>
      LINK NEUTRAL
    <% end %>
    <%= link_to party_card_parents_path(name:@account_deck.archetype.name), 'data-turbo-frame': "party_cards_collection" do %>
      LINK ARCHETYPE
    <% end %>
  </nav>
  <div>
    <%=turbo_frame_tag id="party_cards_collection" do %>
      PLACEHOLDER
    <% end %>
  </div>
</section>
