<article class="ml-[10%] mt-24 basis-1/4 mr-5">
  <%= turbo_stream_from @account_deck %>
  <div id="<%=dom_id(@account_deck)%>" class="max-w-full">
    <%= render @account_deck %>
  </div>
</article>
<section>
  <nav id="card-book-naviation">
    <%= link_to card_references_path(name:"Neutral", account_deck_id: @account_deck.id), 'data-turbo-frame': "cards_collection" do %>
      Neutral | 
    <% end %>
    <%= link_to card_references_path(name:@account_deck.archetype.name, account_deck_id: @account_deck.id), 'data-turbo-frame': "cards_collection" do %>
      <%=@account_deck.archetype.name%>
    <% end %>
  </nav>
  <div>
    <%=turbo_frame_tag id="cards_collection", src:card_references_path(name:"Neutral", account_deck_id: @account_deck.id) do %>
    <% end %>
  </div>
</section>
