<article class="ml-[15%]  basis-1/5 top-0 flex-none mr-5">
  <div class="flex flex-row gap-x-2">
    <%= button_to "Clear all cards", destroy_all_cards_account_deck_path(@account_deck), form: { data: {turbo_method: :post, turbo_confirm: "Are you sure you want to clear all cards?" }}, class:"bg-card-blue text-white px-2 py-3 mt-4 rounded-xl" %>
    <%= button_to "Delete this deck", @account_deck, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this deck?" }}, class:"bg-card-blue text-white px-2 py-3 mt-4 rounded-xl" %>
    <%= link_to  "My decks", account_decks_path, {class: "bg-card-blue text-white px-2 py-3 mt-4 rounded-xl"} %>
  </div>
  <div class="w-full mt-4">
    <%= turbo_stream_from @account_deck %>
    <div id="<%=dom_id(@account_deck)%>" class="max-w-full">
      <%= render @account_deck %>
    </div>
  </div>
</article>
<section>
  <nav id="card-book-naviation">
    <%= link_to card_references_path(name:"Neutral", account_deck_id: @account_deck.id), 'data-turbo-frame': "cards_collection" do %>
      Neutral | 
    <% end %>
    <%= link_to card_references_path(name:@account_deck.archetype.name, account_deck_id: @account_deck.id), 'data-turbo-frame': "cards_collection" do %>
      <%=@account_deck.archetype.name%>
    <% end %>
  </nav>
  <div>
    <%=turbo_frame_tag id="cards_collection", src:card_references_path(name:"Neutral", account_deck_id: @account_deck.id) do %>
    <% end %>
  </div>
</section>
